.trash { color:rgb(209, 91, 71); }
.list-group {
	.list-group-item {
		cursor: pointer;
    a {
      display: block;
    }
    &.active {
      a {
        color: white;
      }
    }
	}
}
.email { font-size: 12px; }