<div class="panel panel-default">
	<div class="panel-body">
		<h3>{{user.name}}</h3>

		<ul class="nav nav-tabs">
			<li ng-class="{active:userTab==='activity'}"><a ui-sref="users.user.activity" ng-click="userTab='activity'">Activity</a></li>
			<li ng-class="{active:userTab==='checklist'}"><a ui-sref="users.user.checklist"  ng-click="userTab='checklist'">Checklist</a></li>
			<li ng-class="{active:userTab==='edit'}"><a ui-sref="users.user.edit"  ng-click="userTab='edit'">Edit User</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active">
				<ui-view></ui-view>
			</div>
		

		</div>
	</div>
</div>
