.right-pills {
  background-color: #fff !important;
  border: 3px solid #87c4f8;
  border-radius: 12px;
  margin-top: 6px;
  padding: 8px;
}

.td-checkbox {
  height: auto;
  margin: 0;
  padding-bottom: 0;
  width: auto;

  label {
    margin: 0;
    padding-bottom: 0;
    width: auto;
  }

}

.clickable {
  cursor: pointer;
}
