.right-pills {
  margin-top: 6px;
  background-color: #ffff !important;
  border: 3px solid #87C4F8;
  border-radius: 12px;
  padding: 8px;
}

.td-checkbox {
  height: auto;
  width: auto;
  margin: 0;
  padding-bottom: 0;
  label {
    width: auto;
    margin: 0;
    padding-bottom: 0;
  }
}
.clickable {
  cursor: pointer;
}