.message {
  padding: 12px;
  border: 2px dashed #999;
  border-radius: 12px;
  background-color: #fefefe;
  margin: 10px; 
}
h4 {
  margin-top: 24px;
}
.tdcon {
  width: 50px;
  text-align: center;
}

.reply {
  padding: 12px;
  border: 1px dashed #999;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin: 10px; 
  span {
    font-size: 14px;
  }

}