<div class="well">
<a href ng-click="back()" class="pull-right close">&times;</a>
<h3>
  Activity Detail
  <small><br/>received {{log.createdAt | date:'MMM d, yyyy @ h:mm a'}}</small>
</h3>
<h4>Message</h4>
<p class="message" ng-bind-html="log.message | linky:'_blank'" />
<div ng-show="showAttachments(log)">
  <a name="attachments"></a>
  <h4>Attachments</h4>
  <table class="table table-striped">
    <tbody><tr>
      <th>Name</th>
      <th width="50" colspan="2" class="text-center">Actions</th>
    </tr></tbody>
    <tbody><tr ng-repeat="a in attachments">
      <td>{{a.name}}</td>
      <td class="tdcon">
        <a ng-show="a.type=='Image'" ng-click="showAttachmentImage(a, log)" href="">
          <i class="glyphicon glyphicon-picture"></i>
        </a>
      </td><td class="tdcon">
        <a href="/api/attachments/{{a._id}}/download" target="_blank">
          <i class="glyphicon glyphicon-download"></i>
        </a>
      </td>
    </tr></tbody>

</div>
