p Dear #{user.name},

p The following Task was posted to your account:

blockquote <b>#{task.cat.name} for #{task.client.name}</b><br />#{task.message}

p.small
  | To un-subscribe from these notifications visit 
  a(href="http://admin.socialmediatrackr.com/settings") your SocialMediaTrackr.com Profile
  |  and un-check the option to receive "New Task Notifications".  Then hit save.