$bgHoverColor: #EEF9FF;

tr.completed {
	td {
		text-decoration: line-through;
		color: silver;
		a, a:visited {
			color: #8EADC7;
		}
	}
}
tbody.clickable {
  tr {
    cursor: pointer;
    &:hover {
      td {
        background-color: $bgHoverColor !important;
      }
    }
  }
  
}
