p Dear #{user.name},

p The following Activity was posted to your account:

blockquote #{log.message}

p.small
	| To un-subscribe from these notifications visit 
	a(href="http://www.socialmediatrackr.com/settings") your SocialMediaTrackr.com Profile
	|  and un-check the option to receive "Activity Notifications".  Then hit save.
