<div class="col-xs-12">
  <h4>Attachments</h4>
  <div ng-hide="uploader.isHTML5">HTML5 File Upload not supported by your browser.</div>
  <div ng-show="uploader.isHTML5">
    <div class="well file-drop-zone" nv-file-over uploader="uploader">
      Drop files here or <input type="file" nv-file-select="" uploader="uploader" multiple  style="display: inline; width:100px;" />
    </div>

    <h4>Upload queue</h4>
    <p>Queue length: {{ uploader.queue.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th ng-show="uploader.isHTML5">Size</th>
          <th ng-show="uploader.isHTML5">Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in uploader.queue">
          <td><strong>{{ item.file.name }}</strong></td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="fa fa-ok"></i></span>
            <span ng-show="item.isCancel"><i class="fa fa-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
          </td>
          <td nowrap>
            <button ng-show="false" type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                <span class="fa fa-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="fa fa-trash"></span> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button ng-show="false" type="button" class="btn btn-success btn-s" 
              ng-click="uploader.uploadAll()" 
              ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="fa fa-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" 
              ng-click="uploader.cancelAll()" 
              ng-disabled="!uploader.isUploading">
          <span class="fa fa-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s"
              ng-click="uploader.clearQueue()" 
              ng-disabled="!uploader.queue.length">
          <span class="fa fa-trash"></span> Remove all
      </button>
    </div>
  </div>

</div>