<h4 ng-show="loading">
	<i class="fa fa-spinner fa-spin"></i> Loading...
</h4>
<div ng-hide="loading">

	<p ng-hide="logs.length">
		There are no activity logs to display.
	</p>
	<form ng-submit="addLog(newLog, userId)" ng-show="userId">
		<div class="row-fluid">
			<div class="col-md-9 col-sm-9">
				<input type="text" name="message" ng-model="newLog.message" 
				placeholder="type log message here..." class="form-control" />
			</div>
			<div class="col-md-3 col-sm-3">
				<a href class="btn btn-info" ng-click="showMore=!showMore"><i class="fa fa-cog"></i></a>
				<button class="btn btn-primary">
				<i class="glyphicon glyphicon-plus"></i> Add
				</button>
			</div>
		</div>
		<div class="row-fluid form-horizontal" ng-show="showMore">
			<div class="col-xs-12">
				<div class="form-group">
					<label class="col-xs-1 control-label">Date/Time:</label>
					<div class="col-md-2">
						<input class="form-control" type="date" ng-model="newLog.createdAt">
					</div>
					<div class="col-md-2">
						<input class="form-control" type="time" ng-model="newLog.createdTime">
					</div>

				</div>
				
			</div>
		</div>
	</form>
	<table class="table" ng-show="logs.length">
		<thead>
			<tr>
				<th ng-hide="userId" width="150">User</th>
				<th>Activity</th>
				<th width="200">Created</th>
				<th width="100" class="text-center">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="l in logs |orderBy:'-createdAt'" ng-class="{active : l._id == selectedLog}">
				<td ng-hide="userId"><a ui-sref="users.user({id:l.user._id})">{{l.user.name}}</a></td>
				<td>{{l.message}}</td>
				<td>{{l.createdAt | date:'MMM d, yyyy @ h:mm a'}}</td>
				<td class="text-center"><a href ng-click="deleteLog(l)">
					<i class="glyphicon glyphicon-trash"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>