.file-drop-zone {
  border: 2px dashed silver;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  margin-top: 12px;
}
.deletingAttachment {
  td {
    background-color: #F2FFEE;
  }
}

a.disabled { color: #777; }